.jumbotron {
    background-color: black;
    color:white;
    margin-top: 50px;
}

.btn {
    background-color:gray;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color:white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserve{
    width: 100%;
    border-radius: 0px;
}
    
.card-pie{
    background-color: grey;
    color: whitesmoke;
}

.footer-address-icon{
    padding-right: 10px;
}

.body-btnreserva-icon{
    padding-right: 10px;
}

.label-contact-formulario{
    margin-top: 15px;
}

.card-banner-publicitario{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.tab-content{
    padding-top: 10px;
   /* background-color: aquamarine;*/
}