/*Uso de Precompipalador SASS*/
.jumbotron {
  background-color: #0d0d0c;
  color: #fcfcfc;
  margin-top: 40px;
  margin-bottom: 10px;
  /* margin-top: 50px; --> */ }

.btn {
  background-color: #878786; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #0d0d0c;
  margin-top: 100px;
  margin-bottom: 100px;
  /* margin-bottom: 0px;
    margin-top: 10px; */ }

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px; }

.btn-reserve {
  width: 100%;
  border-radius: 0px; }

.card-pie {
  background-color: #878786;
  color: #cfcfc4;
  /* color: $whitesmoke;*/ }

.footer-address-icon {
  padding-right: 10px; }

.body-btnreserva-icon {
  padding-right: 10px; }

.label-contact-formulario {
  margin-top: 15px; }

.card-banner-publicitario {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px; }

.tab-content {
  padding-top: 10px;
  background-color: #4baccc; }
