@yellow:#fffa19;
@black:#0d0d0c;
@white:#fcfcfc;
@green:#43942b;
@grey:#878786;
@whitesmoke:#cfcfc4;
@red:#c42018;
@aquamarine:#4baccc;
@blue:#3660ad;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.colores(@color: @red){
    color: @color;
}

.jumbotron {
    background-color:@black;
    .colores(@white);
    .margenes(40px, 10px);
    /* margin-top: 50px; --> */
}

.btn {
    background-color:@grey;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color:@black;
    .margenes(100px,100px);
    /* margin-bottom: 0px;
    margin-top: 10px; */
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserve{
    width: 100%;
    border-radius: 0px;
}
    
.card-pie{
    background-color: @grey;
    .colores(@whitesmoke);
    /* color: $whitesmoke;*/
}

.footer-address-icon{
    padding-right: 10px;
}

.body-btnreserva-icon{
    padding-right: 10px;
}

.label-contact-formulario{
    margin-top: 15px;
}

.card-banner-publicitario{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.tab-content{
    padding-top: 10px;
    background-color: @aquamarine;
}
